<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <style>
        label {
            width: 300px;
            margin: 5px;
            display: inline-block;
            text-align: left;
        }

        input[type=text], input[type=password], select {
            display: inline-block;
            width: 300px;
        }
    </style>

</head>
<body>
    <h1>Register</h1>
    <form method="post" th:action="@{/register}" th:object="${user}">
        <label>Civilité :</label>
        <input type="radio" value="M" th:field="*{gender}"/> Monsieur
        <input type="radio" value="MME" th:field="*{gender}"/> Madame
        <input type="radio" value="MELLE" th:field="*{gender}"/> Mademoiselle
        <br/>

        <label>Nom :</label>
        <input th:field="*{name}">
        <br/>

        <label>Email :</label>
        <input th:field="*{mail}">
        <br/>

        <label>Mot de passe :</label>
        <input type="password" th:field="*{password}">
        <br/>

        <label>Marié :</label>
        <input type="checkbox" th:field="*{isMarried}">
        <br/>

        <label>Date de naissance (yyyy-mm-dd) :</label>
        <input type="text" th:field="*{dateNaissance}">
        <br/>

        <label>Profession :</label>
        <select th:field="*{profession}">
            <!-- écrire les options en utilisant la liste des professions envoyée par le controller -->
            <option th:each="item: ${professionList}" th:value="${item}" th:text="${item}"></option>
        </select>
        <br/>

        <label>Commentaire :</label>
        <textarea rows="5" cols="25" th:field="*{commentary}"></textarea>

        <br/>
        <button type="submit">Enregistrer</button>

    </form>
</body>
</html>